flow/integracao_telegram.json
[{"id":"de6cc7975fc846b2","type":"tab","label":"G.Call","disabled":false,"info":""},{"id":"64a61b6b1869acf7","type":"function","z":"de6cc7975fc846b2","name":"ProcIN Audio","func":"msg.params = {\n    'session_id' : msg.payload.chatId,\n    'tipo' : msg.payload.type\n}\n\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":80,"wires":[["c0e9efd244bda789"]]},{"id":"fbfc20ac835ea692","type":"function","z":"de6cc7975fc846b2","name":"ProcIN Texto","func":"msg.params = {\n    'session_id' : msg.payload.chatId,\n    'tipo' : msg.payload.type\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["1ca9d1aa.c9200e"]]},{"id":"f08dce8bd70b5363","type":"function","z":"de6cc7975fc846b2","name":"ProcOUT WA","func":"//Se tiver vindo uma imagem no generic [1]\n// msg.payload2 = msg.payload.output.generic[1].text;\n\n//O texto que vem normalemente no generic [0]\n// msg.payload = msg.payload.output.generic[0].text;\nmsg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":140,"wires":[["f6a4f7de2e433d94","7185444d31519403"]]},{"id":"66efca7a1235510f","type":"function","z":"de6cc7975fc846b2","name":"ProcOUT","func":"msg.payload = {\n    'content' : msg.payload,\n    'chatId' : msg.params.session_id,\n    'type' : msg.params.tipo \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":140,"wires":[["260f8fcf2246d49f","0ada4f9515152fca"]]},{"id":"fb947462d12d8ef7","type":"switch","z":"de6cc7975fc846b2","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":120,"wires":[["64a61b6b1869acf7"],["fbfc20ac835ea692"]]},{"id":"c0e9efd244bda789","type":"watson-speech-to-text","z":"de6cc7975fc846b2","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"H1ahVzaour0wI27X18FpMXhmuX5UBK1eXTg6G3VsWuYR","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/3c3f62df-b6be-4fbb-bd60-ffb5be65bae3","x":590,"y":80,"wires":[["3805da0186eb56e3","1ca9d1aa.c9200e"]]},{"id":"f6a4f7de2e433d94","type":"switch","z":"de6cc7975fc846b2","name":"","property":"params.tipo","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":140,"wires":[["bfb197a7a7d59f36"],["66efca7a1235510f"]]},{"id":"bfb197a7a7d59f36","type":"watson-text-to-speech","z":"de6cc7975fc846b2","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"KLTXdhHqbob1J0hLSP2-7o3gPOiTLEJRE1tEQsZV4N01","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/e93bbe5d-cee6-40df-80e5-44d1ca35d576","x":1250,"y":80,"wires":[["66efca7a1235510f"]]},{"id":"6c6cee9623a91b2d","type":"function","z":"de6cc7975fc846b2","name":"Acesso Negado","func":"msg.payload.content = \"Acesso negado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":320,"wires":[["260f8fcf2246d49f"]]},{"id":"123b877ae5f46bc1","type":"debug","z":"de6cc7975fc846b2","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":40,"wires":[]},{"id":"0ada4f9515152fca","type":"debug","z":"de6cc7975fc846b2","name":"Saida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":80,"wires":[]},{"id":"3805da0186eb56e3","type":"debug","z":"de6cc7975fc846b2","name":"Transcrito","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":80,"wires":[]},{"id":"7185444d31519403","type":"debug","z":"de6cc7975fc846b2","name":"Mesangem Final","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":80,"wires":[]},{"id":"adcccb71f02c81b9","type":"debug","z":"de6cc7975fc846b2","name":"Saída WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":180,"wires":[]},{"id":"25fa309f3974c34a","type":"function","z":"de6cc7975fc846b2","name":"ProcOUT Img","func":"msg.payload = {\n    'content' : msg.payload2,\n    'chatId' : msg.params.session_id,\n    'type' : 'photo' \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":760,"wires":[[]]},{"id":"1ca9d1aa.c9200e","type":"watson-assistant-v2","z":"de6cc7975fc846b2","name":"WA G.Call","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/f244f146-6f41-45a2-a5b7-f4733db4c05f","assistant_id":"14be51cd-529f-4eeb-b582-c586c7a24657","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":750,"y":160,"wires":[["f08dce8bd70b5363","adcccb71f02c81b9"]]},{"id":"3d1003fa2c7c414b","type":"telegram receiver","z":"de6cc7975fc846b2","name":"","bot":"4534b136.ecb53","saveDataDir":"","filterCommands":false,"x":130,"y":160,"wires":[["fb947462d12d8ef7","123b877ae5f46bc1"],["6c6cee9623a91b2d"]]},{"id":"260f8fcf2246d49f","type":"telegram sender","z":"de6cc7975fc846b2","name":"","bot":"4534b136.ecb53","haserroroutput":false,"outputs":1,"x":1350,"y":200,"wires":[[]]},{"id":"4534b136.ecb53","type":"telegram bot","botname":"@GCall_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]